<nav class="navbar p-0 navbar-expand  border-bottom box-shadow navbar-custom">
    <div class="col-12 row">
        <div class="col-2">
            <a class="btn btn-info btn-lg Lg" [routerLink]="['/menu']">
                <span class="glyphicon glyphicon-list"></span> Prashant
              </a>
        </div>
        <div class="col-4">
            <h5 class="ml-5 mt-5" style="font-size: 1.7vw !important; color: var(--unnamed-color-6b6b6b);
        text-align: left;
        font: normal normal bold 1.3020833333333333vw Product Sans;
        letter-spacing: 0px;
        color: #6B6B6B;
        opacity: 1;" id="head">User Management System</h5>
        </div>
        <div class="col-3">
        </div>
    </div>
</nav>


  